<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper는 여러 개가 존재할 수 있으니 다른 maper아 중복이 되지 않도록 namespace를 선언 -->
<mapper namespace="plMap">
	<select id="getMemberPLList" parameterType="hashmap"
		resultType="com.company.dto.PayLogDTO">
		SELECT * FROM pay_log WHERE M_ID LIKE #{mId} ORDER BY
		PL_DATE DESC limit
		#{startNum},
		#{ContentNum};
	</select>

	<select id="getMemberPLListCnt" parameterType="String"
		resultType="int">
		SELECT count(*) FROM pay_log WHERE M_ID LIKE #{mId};
	</select>

	<select id="getSearchedMemberPLListCnt" parameterType="hashmap"
		resultType="int">
		SELECT count(*) FROM pay_log WHERE M_ID LIKE #{mId} AND
		PL_DATE
		BETWEEN #{pSDate} AND #{pEDate};
	</select>

	<select id="getSearchedMemberPLList" parameterType="hashmap"
		resultType="com.company.dto.PayLogDTO">
		SELECT * FROM pay_log WHERE M_ID LIKE #{mId} AND
		PL_DATE
		BETWEEN #{pSDate} AND #{pEDate} ORDER BY PL_DATE
		DESC limit
		#{startNum},
		#{ContentNum};
	</select>
	
	<select id="getChkPay" parameterType="hashmap"
		resultType="int">
		SELECT count(*) FROM pay_log WHERE M_ID LIKE #{mId} AND
		PL_DATE LIKE #{plDT};
	</select>
	
	<select id="getMPayList" parameterType="String"
		resultType="int">
		SELECT count(*) FROM pay_log WHERE M_ID LIKE #{mId};
	</select>
	
	<insert id="MakePay" parameterType="hashmap">
		INSERT INTO pay_log (M_ID, PL_TITLE, PL_PRICE, PL_DATE)
		VALUES
		(#{mId}, #{plTitle}, #{plPrice}, #{today})
	</insert>
	
	<delete id="MakeNoPay" parameterType="hashmap">
		DELETE FROM pay_log WHERE M_ID
		= #{mId} AND PL_DATE LIKE #{payDT};
	</delete>
</mapper>