<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper는 여러 개가 존재할 수 있으니 다른 maper아 중복이 되지 않도록 namespace를 선언 -->
<mapper namespace="qMap">
	<select id="getMemberQList" parameterType="hashmap"
		resultType="com.company.dto.QnaDTO">
		SELECT * FROM qna WHERE M_ID LIKE #{mId} ORDER BY Q_DATE DESC limit
		#{startNum},
		#{ContentNum};
	</select>

	<select id="getMemberQListCnt" parameterType="String"
		resultType="int">
		SELECT count(*) FROM qna WHERE M_ID LIKE #{mId};
	</select>

	<select id="getSearchedMemberQListCnt" parameterType="hashmap"
		resultType="int">
		SELECT count(*) FROM qna WHERE M_ID LIKE #{mId} AND Q_DATE BETWEEN #{qSDate} AND #{qEDate};
	</select>

	<select id="getSearchedMemberQList" parameterType="hashmap"
		resultType="com.company.dto.QnaDTO">
		SELECT * FROM qna WHERE M_ID LIKE #{mId} AND Q_DATE BETWEEN #{qSDate} AND #{qEDate}
		ORDER BY Q_DATE DESC limit
		#{startNum},
		#{ContentNum};
	</select>

	<select id="GetSnsQList" parameterType="hashmap"
		resultType="com.company.dto.QnaDTO">
		SELECT * FROM qna WHERE M_ID LIKE #{mId} ORDER BY Q_DATE DESC limit
		#{startNum},
		#{ContentNum};
	</select>

	<select id="GetSnsQListCnt" parameterType="String"
		resultType="int">
		SELECT count(*) FROM qna WHERE M_ID LIKE #{mId};
	</select>
	
	<select id="GetSchSnsQList" parameterType="hashmap"
		resultType="com.company.dto.QnaDTO">
		SELECT * FROM qna WHERE M_ID LIKE #{mId} AND Q_DATE BETWEEN #{StartDT} AND #{EndDT} ORDER BY Q_DATE DESC limit
		#{startNum},
		#{ContentNum};
	</select>

	<select id="GetSchSnsQListCnt" parameterType="String"
		resultType="int">
		SELECT count(*) FROM qna WHERE M_ID LIKE #{mId} AND Q_DATE BETWEEN #{StartDT} AND #{EndDT};
	</select>
	
	<select id="GetQRecentList" resultType="com.company.dto.QnaDTO">
		SELECT * FROM qna ORDER BY Q_DATE DESC limit 0,4;
	</select>
</mapper>