<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper는 여러 개가 존재할 수 있으니 다른 maper아 중복이 되지 않도록 namespace를 선언 -->
<mapper namespace="snsMap">
	<select id="GetSchSList" parameterType="hashmap"
		resultType="com.company.dto.SnsDTO">
		SELECT * FROM sns WHERE M_ID LIKE #{mId} AND M_NAME LIKE #{mName} ORDER BY M_NAME DESC limit #{startNum}, #{ContentNum};
	</select>
	
	<select id="GetSchPageCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM sns WHERE M_ID LIKE #{mId} AND M_NAME LIKE #{mName};
	</select>
	
	<select id="GetSInfo" parameterType="String" resultType="com.company.dto.SnsDTO">
		SELECT * FROM sns WHERE M_ID LIKE #{mId} AND S_END_DT LIKE '0000-00-00 00:00:00';
	</select>
</mapper>